---
---

<div class="w-full aspect-[3/1] bg-muted overflow-hidden relative">
  <img id="ui-banner" src="https://images.unsplash.com/photo-1557683316-973673baf926" alt="Bannière" class="w-full h-full object-cover" />
</div>
